body{
    font-family: Roboto;
    background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44);
}
table{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color:#eaedef;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 320px;
    height: 450px;
    top: 20px;
}

td{
    background-color: none;
}

p{
    font-size: 30px;
    margin: 10px 20px;
    text-align: right;
}
button{
    width:50px;
    height:50px;
    margin: 15px;
    float:left;
    border-radius: 50%;
    border-width: 0;
    font-weight:bold;
    font-size:16px;
    background-color: #eaedef;
    cursor: pointer;
    font-size: 13px;
    outline: 0;
}
